{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="navbar">
        <div class="content">
            <div class="navbar_body">
                <div class="logo">
                    <a href="#">
                        <!--<img src="{% static 'svg/laptop.svg' %}" alt="laptop">-->
                        <span>Catalog</span>
                    </a>
                </div>
                <div class="categories">
                    <div class="category">
                        <a href="#">
                            <img src="{% static 'svg/laptop.svg' %}" alt="">
                            <span>Ноутбуки</span>
                        </a>
                    </div>
                    <div class="category">
                        <a href="#">
                            <img src="{% static 'svg/phone.svg' %}" alt="">
                            <span>Смартфоны</span>
                        </a>
                    </div>
                    <div class="category">
                        <a href="#">
                            <img src="{% static 'svg/headset.svg' %}" alt="">
                            <span>Аксессуары</span>
                        </a>
                    </div>
                </div>
                <div class="search">
                    <form action="">
                        <input type="text" placeholder="Поиск">
                        <button type="submit">
                            <img src="{% static 'svg/search.svg' %}" alt="">
                        </button>
                    </form>
                </div>
                <div class="actions">
                    <a href="#">
                        <div class="action">
                            <img src="{% static 'svg/person-circle.svg' %}" alt="person-sircle">
                            <span>Вход</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="content">
            <div class="middle_body">
                text
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="content">
            <div class="footer_body">
                <div class="column">
                    <a href="#">
                        <div class="element">
                            <img src="{% static 'svg/youtube.svg' %}" alt="youtube">
                            <span>
                                YouTube
                            </span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="element">
                            <img src="{% static 'svg/instagram.svg' %}" alt="instagram">
                            <span>
                                Instagram
                            </span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="element">
                            <img src="{% static 'svg/telegram.svg' %}" alt="telegram">
                            <span>
                                Telegram
                            </span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="element">
                            <img src="{% static 'svg/vk.svg' %}" alt="vk">
                            <span>
                                VK
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>