{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="navbar">
        <div class="content">
            <div class="navbar_body">
                <div class="logo">
                    <a href="#">
                        <!--<img src="{% static 'svg/laptop.svg' %}" alt="laptop">-->
                        <span>Catalog</span>
                    </a>
                </div>
                <div class="categories">
                    <div class="category">
                        <a href="#">
                            <img src="{% static 'svg/laptop.svg' %}" alt="">
                            <span>Ноутбуки</span>
                        </a>
                    </div>
                    <div class="category">
                        <a href="#">
                            <img src="{% static 'svg/phone.svg' %}" alt="">
                            <span>Смартфоны</span>
                        </a>
                    </div>
                    <div class="category">
                        <a href="#">
                            <img src="{% static 'svg/headset.svg' %}" alt="">
                            <span>Аксессуары</span>
                        </a>
                    </div>
                </div>
                <div class="actions">
                    <div class="action">
                        <a href="#">
                            <img src="{% static 'svg/person-circle.svg' %}" alt="person-sircle">
                            <span>Вход</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
    </div>
    <div class="footer">
    </div>
</div>
</body>
</html>