{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="product_block">
        <div class="block_title">
        <span>
            Новые
        </span>
        </div>
        <div class="products_row">
            {% for product in new_products %}
                <a href="{% url 'product_view' product.slug %}">
                    <div class="product">
                        <div class="image">
                            <img src="{% static product.image %}" alt="test">
                        </div>
                        <div class="name">
                    <span>
                        {{ product.name }}
                    </span>
                        </div>
                        <div class="information">
                            <div class="row">
                                <img src="{% static 'svg/cpu.svg' %}" alt="cpu">
                                <span>
                                    {{ product.cpu }}
                                </span>
                            </div>
                            <div class="row">
                                <img src="{% static 'svg/gpu-card.svg' %}" alt="cpu">
                                <span>
                                    {{ product.gpu }}
                                </span>
                            </div>
                            <div class="row">
                                <img src="{% static 'svg/memory.svg' %}" alt="cpu">
                                <span>
                                    {{ product.ram }}
                                </span>
                            </div>
                            <div class="row">
                                <img src="{% static 'svg/sd-card.svg' %}" alt="cpu">
                                <span>
                                    {{ product.memory }}
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>
    </div>
{% endblock content %}