@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  min-height: 100%;
}
.wrapper .content {
  width: 80%;
  margin: auto;
}
.wrapper .navbar {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.6666666667);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-bottom: 1px solid #9ca3af;
}
.wrapper .navbar_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0;
}
.wrapper .navbar_body .logo {
  padding: 6px 12px;
  background: #818cf8;
  border-radius: 8px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.wrapper .navbar_body .logo span {
  font-family: Orbitron, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}
.wrapper .navbar_body .logo:hover {
  background: #fff;
}
.wrapper .navbar_body .logo:hover span {
  color: #818cf8;
}
.wrapper .navbar_body .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 0;
}
.wrapper .navbar_body .categories .category {
  padding: 2px 12px;
  margin: 0 6px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  opacity: 60%;
}
.wrapper .navbar_body .categories .category span {
  font-size: 12px;
  text-transform: uppercase;
}
.wrapper .navbar_body .categories .category img {
  width: 14px;
  height: 14px;
}
.wrapper .navbar_body .categories .category:hover {
  opacity: 100%;
}
.wrapper .navbar_body .search {
  padding: 6px 8px;
  border: 1px solid #9ca3af;
  border-radius: 6px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.wrapper .navbar_body .search input {
  font-size: 14px;
  color: #6b7280;
  padding: 0 8px;
}
.wrapper .navbar_body .search button {
  background: white;
  opacity: 60%;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.wrapper .navbar_body .search button:hover {
  opacity: 100%;
}
.wrapper .navbar_body .search:has(input:focus) {
  border-color: #000;
}
.wrapper .navbar_body .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .navbar_body .actions .action {
  padding: 8px 8px;
  border: 2px solid #4b5563;
  border-radius: 6px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.wrapper .navbar_body .actions .action span {
  font-size: 12px;
  text-transform: uppercase;
}
.wrapper .navbar_body .actions .action img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
.wrapper .navbar_body .actions .action:hover {
  border-color: #818cf8;
}